model.xsd/niem/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:niem-xs="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#SubsetSchemaDocument"
  version="psd01"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/" schemaLocation="adapters/niem-xs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="utility/structures.xsd"/>
  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation>A data type for an article or thing.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ItemConditionAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:ItemName"/>
          <xs:element ref="nc:ItemQuantity"/>
          <xs:element ref="nc:ItemAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NumericType">
    <xs:annotation>
      <xs:documentation>A data type for a number value.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:decimal"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QuantityType">
      <xs:annotation>
        <xs:documentation>A data type for a count or tally.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
        <xs:extension base="nc:NumericType">
          <xs:attribute ref="nc:quantityUnitText" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  <xs:complexType name="TextType">
      <xs:annotation>
        <xs:documentation>A data type for a character string.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
        <xs:extension base="niem-xs:string"/>
      </xs:simpleContent>
    </xs:complexType>
  <xs:attribute name="quantityUnitText" type="xs:string">
      <xs:annotation>
        <xs:documentation>A unit of counting or tallying for a quantity.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  <xs:element name="CommentText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A comment, note, or remark providing additional information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemAugmentationPoint" abstract="true">
      <xs:annotation>
        <xs:documentation>An augmentation point for ItemType.</xs:documentation>
      </xs:annotation>
    </xs:element>
  <xs:element name="ItemConditionAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state or appearance of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemConditionText" type="nc:TextType" substitutionGroup="nc:ItemConditionAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>A state or appearance of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemName" type="nc:TextType" nillable="true">
      <xs:annotation>
        <xs:documentation>A name of an item.</xs:documentation>
      </xs:annotation>
    </xs:element>
  <xs:element name="ItemQuantity" type="nc:QuantityType" nillable="true">
      <xs:annotation>
        <xs:documentation>A count of the individual units which make up an item.</xs:documentation>
      </xs:annotation>
    </xs:element>
</xs:schema>
