message.xsd/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/ReqRes/1.0/"
  xmlns:msg="http://example.com/ReqRes/1.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  version="1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>
      This is the extension schema for the Request message specification,
      which appears in some examples in NDR 6.
    </xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem/niem-core.xsd"/>
  <xs:simpleType name="ItemConditionCodeType">
    <xs:annotation>
      <xs:documentation>A data type for the condition of an item.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="USED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RequestType">
    <xs:annotation>
      <xs:documentation>A data type for a request of one or more items.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="msg:RequestID"/>
      <xs:element ref="msg:RequestedItem" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemConditionCode" type="msg:ItemConditionCodeType">
    <xs:annotation>
      <xs:documentation>A condition of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Request" type="msg:RequestType">
    <xs:annotation>
      <xs:documentation>A request for one or more items.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RequestedItem" type="nc:ItemType">
    <xs:annotation>
      <xs:documentation>A request for a specified quantity of an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RequestID" type="xs:token">
    <xs:annotation>
      <xs:documentation>An identifier for a request.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
